<div class="vertical-form">
	<mat-form-field>
		<input matInput #pwd1 placeholder="Contraseña" [(ngModel)]="password1" name="password1" type="password" (change)="verifyPassword()"
		 (keyup)="verifyPassword(1, pwd1.value)">
	</mat-form-field>
	<mat-form-field>
		<input matInput #pwd2 placeholder="Repita su contraseña" [(ngModel)]="password2" name="password2" type="password" (change)="verifyPassword()"
		 (keyup)="verifyPassword(2, pwd2.value)">
	</mat-form-field>
	<button mat-raised-button color="primary" (click)="change()" [disabled]="disabled">Cambiar contraseña</button>
	<div *ngIf="error" class="alert text-danger">{{errorMsg}}</div>
</div>
